@import url('https://fonts.googleapis.com/css?family=Ropa+Sans&display=swap');
@import 'grid.scss';

body {
    font-family: 'Ropa Sans', sans-serif;
    background: #eeeeee;
    margin: 0;
    padding: 0
}
